@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./assets/images/home-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0.3,0.2,1, 0.4);
  @apply overflow-hidden
}

.btn {
  @apply p-3 bg-black/70 backdrop-blur-md flex justify-center items-center gap-2 cursor-pointer rounded-lg w-3/4 md:w-full text-white hover:bg-black/90 drop-shadow-lg ease-in duration-200
}